<div class="centered span5">
  <table class="table">
    <tr>
      <th>Activity</th>
      <th>Time</th>
    </tr>
    <% Count.today.each do |count| %>
      <tr>
        <td>Record</td>
        <td><%= count.created_at.strftime("%r") %></td>
      </tr>
    <% end %>
  </table>
</div>

<div class="record-button">
  <%= form_for Count.new, :url => { :action => "create" } do |f| %>
    <%= f.submit "Record count", :class => 'btn btn-primary btn-large' %>
  <% end %>
</div>